<dx-data-grid 
    (onContextMenuPreparing)="onContextMenuPreparing($event)"
    id="gridContainer" 
    [dataSource]="users"
    (onInitialized)="onInitialized($event)"
    (onRowClick)="rowClickEvent()"
    [showBorders]="true">
    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-selection
        [selectAllMode]="allMode"
        [showCheckBoxesMode]="checkBoxesMode"
        mode="single">
    </dxo-selection>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-filter-builder
        [customOperations]="customOperations"
        [allowHierarchicalFields]="true">
    </dxo-filter-builder>
    <dxo-filter-builder-popup
        [position]="popupPosition">
    </dxo-filter-builder-popup>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-scrolling mode="infinite"></dxo-scrolling> 
    <dxi-column 
        dataField="username"
        caption="Username"
        dataType="string">
    </dxi-column>
    <dxi-column 
        dataField="id"
        caption="ID number"
        dataType="number">
    </dxi-column>
    <dxi-column
        dataField="roles"
        caption="Roles"
        dataType="string">
    </dxi-column>
</dx-data-grid>
